{{#each erros}}
    <div style="background-color: red; color:white; padding: 10px; margin-top: 10px">{{texto}}</div>
{{else}}
{{/each}}

<h3>Editar Usuário:</h3>
<div>
    <hr>
    <form action="/admin/usuarios/edit" method="post">
        <input type="hidden" name="id" id="id" value="{{usuario._id}}">

        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value="{{usuario.username}}" required>

        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname" id="nickname" value="{{usuario.nickname}}" required>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" value="{{usuario.password}}" required>

        <label for="token">Token: </label>
        <input type="hidden" id="inputtoken" value="{{usuario.token}}">
        <select name="token" id="token" onchange="javascript:mostraImg(this);">
            <option id="/imgs/tokens/login.png" value="/imgs/tokens/login.png">Padrão</option>
            <option id="/imgs/tokens/ryan.Avatar.webp" value="/imgs/tokens/ryan.Avatar.webp">Ryan</option>
        </select> 
        <br><br>
        <img src="{{usuario.token}}" alt="alt" id="imgtoken">    
        <br><br>

        <label for="eAdmin">eAdmin: </label>
        <select name="eAdmin" id="eAdmin" value="{{usuario.eAdmin}}">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
        <br><br>

        <label for="gameSaves">Saves:</label>
        <ul>
            <li>
                <label for="save1">Save 1:</label>
                <input type="hidden" id="inputsave1" value="{{usuario.gameSaves.save1}}">
                <select name="save1" id="save1">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="{{_id}}001" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save2">Save 2:</label>
                <input type="hidden" id="inputsave2" value="{{usuario.gameSaves.save2}}">
                <select name="save2" id="save2">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="{{_id}}002" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save3">Save 3:</label>
                <input type="hidden" id="inputsave3" value="{{usuario.gameSaves.save3}}">
                <select name="save3" id="save3">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="{{_id}}003" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save4">Save 4:</label>
                <input type="hidden" id="inputsave4" value="{{usuario.gameSaves.save4}}">
                <select name="save4" id="save4">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="{{_id}}004" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
        </ul> 
 
        <br><br>
        <button type="submit">Editar Usuário</button>
    </form>
    <hr>
</div>

<script>
    document.getElementById(`${document.getElementById("inputtoken").value}`).selected = "selected";
    document.getElementById(`${document.getElementById("inputsave4").value}001`).selected = "selected";
    document.getElementById(`${document.getElementById("inputsave4").value}002`).selected = "selected";
    document.getElementById(`${document.getElementById("inputsave4").value}003`).selected = "selected";
    document.getElementById(`${document.getElementById("inputsave4").value}004`).selected = "selected";
    
</script>

<script>
    const imgtoken = document.querySelector("#imgtoken");
    function mostraImg(op) {
        imgtoken.src = op.value;
    }
</script>