{{#each erros}}
    <div style="background-color: red; color:white; padding: 10px; margin-top: 10px">{{texto}}</div>
{{else}}
{{/each}}

<h2>Editar Usuário:</h2>
<div class="showusuario">
    <form action="/admin/usuarios/edit" method="post">
        <input type="hidden" name="id" id="id" value="{{usuario._id}}">

        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value="{{usuario.username}}" required>

        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname" id="nickname" value="{{usuario.nickname}}" required>

        <label for="password">Mudar Password: </label>
        <input type="checkbox" name="novasenha" id="novasenha" >
        <input type="hidden" name="password" id="password" value="padrão">

        <label for="token">Token: </label>
        <input type="hidden" id="inputtoken" value="{{usuario.token}}">
        <select name="token" id="token" onchange="javascript:mostraImg(this);">
            <option id="/imgs/tokens/login.png" value="/imgs/tokens/login.png">Padrão</option>
            <option id="/imgs/ariel/tokens/token_3.webp" value="/imgs/ariel/tokens/token_3.webp">Ariel</option>
            <option id="/imgs/dede/tokens/token_3.webp" value="/imgs/dede/tokens/token_3.webp">Dede</option>
            <option id="/imgs/ryan/tokens/token_3.webp" value="/imgs/ryan/tokens/token_3.webp">Ryan</option>
        </select> 
        <br><br>
        <img src="{{usuario.token}}" alt="alt" id="imgtoken">    
        <br><br>

        <!-- <label for="eAdmin">eAdmin: </label>
        <select name="eAdmin" id="eAdmin" value="{{usuario.eAdmin}}">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
        <br><br> -->

        <label for="gameSaves">Saves:</label>
        <ul>
            <li>
                <label for="save1">Save 1:</label>
                <input type="hidden" id="inputsave1" value="{{usuario.gameSaves.save1}}">
                <select name="save1" id="save1">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="saves1" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save2">Save 2:</label>
                <input type="hidden" id="inputsave2" value="{{usuario.gameSaves.save2}}">
                <select name="save2" id="save2">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="saves2" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save3">Save 3:</label>
                <input type="hidden" id="inputsave3" value="{{usuario.gameSaves.save3}}">
                <select name="save3" id="save3">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="saves3" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="save4">Save 4:</label>
                <input type="hidden" id="inputsave4" value="{{usuario.gameSaves.save4}}">
                <select name="save4" id="save4">
                    <option value="0">null</option>
                    {{#each fichas}}
                        <option id="saves4" value="{{_id}}">{{nick}}</option>
                    {{else}}
                    {{/each}}
                </select>
            </li>
        </ul> 
 
        <br><br>
        <button type="submit" class="buttonblue">Editar Usuário</button>
    </form>
</div>

<script>
    document.getElementById(`${document.getElementById("inputtoken").value}`).selected = "selected";
    const novasenha = document.querySelector("#novasenha");

    novasenha.addEventListener('change', function() {
        if(novasenha.checked) {
            document.querySelector("#password").value = "";
            document.querySelector("#password").type = "password";
        } else {
            document.querySelector("#password").type = "hidden";
            document.querySelector("#password").value = "padrão";
        }
    });

    for (let i = 1; i<5; i++) {
        document.querySelectorAll(`#saves${i}`).forEach(function(op) {
            if (document.getElementById(`inputsave${i}`).value == op.value) {
                op.selected = "selected";
            };
        });
    }
    
</script>

<script>
    const imgtoken = document.querySelector("#imgtoken");
    function mostraImg(op) {
        imgtoken.src = op.value;
    }
</script>