<h3>Lista de Fichas</h3>
<a href="/admin/fichas/add"><button>Nova Ficha</button></a>

{{#each fichas}}
<div class="ficha_show">
    <hr>
    <h4>Nick: {{nick}}</h4>
    <h4>Level: {{level}}</h4>
    <h4>Gender: {{gender}}</h4>
    <h4>CA: {{ca}}</h4>
    <h4>HP: {{hp}}</h4>
    <h4>Money: {{money}}</h4>
    <h4>Inventory</h5>
    <ul>
        <li>
            <p>Armas:</p> 
            <ol type="1" start="0">
                {{#each inventory.armas}}
                    <li>{{this}}</li>
                {{else}}
                    <li>Mão</li>
                {{/each}}
            </ol>
        </li>
        <li>
            <p>Armaduras: </p>
            <ol type="1" start="0">
                {{#each inventory.armaduras}}
                    <li>{{this}}</li>
                {{else}}
                    <li>Mão</li>
                {{/each}}
            </ol>
        </li>
    </ul>
    <h4>Attributes</h4>
    <ul>
        <li>for: {{attributes.for}}</li>
        <li>des: {{attributes.des}}</li>
        <li>con: {{attributes.con}}</li>
        <li>int: {{attributes.int}}</li>
        <li>sab: {{attributes.sab}}</li>
        <li>car: {{attributes.car}}</li>
    </ul>
    <h4>Progress</h4>
    <ul>
    {{#each progress}}
        <li>{{nome}}: {{rep}}</li>
        
    {{else}}
        <li>0% progress</li>
    {{/each}}
    </ul>
    <h5>Date: {{date}}</h5>
    <br><br>
    <a href="/admin/fichas/edit/{{_id}}"><button>Editar</button></a>
    <a href="/admin/fichas/deletar/{{_id}}"><button>Deletar</button></a>
    <hr>
</div>
{{else}}
<h4>Não há fichas registradas</h4>
{{/each}}