<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{css}}.css">
    {{else}}
    {{/each}}
    <link rel="stylesheet" href="/css/rodape.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4045124104921025"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-4045124104921025">
    <title>Site dos Manos</title>
</head>
<body>
        {{>_stars}}
        {{>_navbar}}
    <div class = "contentBody">
        {{>_msg}}
        {{{body}}}
        {{#each js}}    
            <script src="/js/{{js}}.js" type="module"></script>
        {{else}}
        {{/each}}
    </div>
    <footer class = "rodape">
         {{>_rodape}} 
    </footer>

    <script src="/js/header.js" type="module"></script>
</body>
</html>