<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{css}}.css">
    {{else}}
    {{/each}}
    <link rel="stylesheet" href="/css/rodape.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4045124104921025"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-4045124104921025">
    <title>Site dos Manos</title>
</head>
<body>
    <div class = "content">
        {{>_stars}}
        {{>_navbar}}
        {{>_msg}}
        {{{body}}}
        
        {{#each js}}
            <script src="/js/{{js}}.js"></script>
        {{else}}
        {{/each}}
    </div>
    <footer class = "rodape">
         {{>_rodape}} 
    </footer>
</body>

</html>